.movie-list__wrapper {
  width: auto;
  height: auto;
}

.movie-card__wrapper {
  width: 100%;
  height: 150px;
  background-color: #fff;
  border: 1px solid #ededed;
  border-radius: 4px;
  margin-bottom: 8px;
  display: flex;
  flex-flow: row nowrap;
}

.movie-card__wrapper > .movie-card__poster {
  width: 130px;
  height: 100%;
  overflow: hidden;
  display: flex;
}

.movie-card__wrapper > .movie-card__poster > img {
  object-fit: cover;
  width: 100%;
  border-radius: 4px 0 0 4px;
}

.movie-card__wrapper > .movie-card__description {
  width: calc(100% - 146px);
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.movie-card__description-row {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
}

.movie-card__description-row .movie-card__year {
  flex: 1 1 auto;
  text-align: left;
  color: #00ab6b;
}

.movie-card__description-row .movie-card__type {
  background-color: #00ab6b;
  color: #fff;
  padding: 0 4px;
  border-radius: 2px;
}

.movie-card__title {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin-top: 8px;
}