.search-bar__wrapper {
  width: 100%;
  margin: 6px 0;
  display: flex;
}

.search-bar__wrapper input {
  height: 40px;
  width: 100%;
  padding: 0;
  border-radius: 4px 0 0 4px;
  border: 1px solid #ededed;
  border-right: 0;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 600;
}

.search-bar__wrapper input:focus,
.search-bar__wrapper button:focus{
  outline: none;
}

.search-bar__wrapper button {
  height: 42px;
  padding: 0;
  border-radius: 0 4px 4px 0;
  border: 1px solid #ededed;
  border-left: none;
  background-color: #fff;
  padding-right: 10px;
}

.search-bar__wrapper button:hover {
  cursor: pointer;
}

.search-bar__wrapper button svg{
  width: 18px;
  fill: #00ab6b;
}
